body {
  font: normal 9pt sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

#creditsP {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1ex 0 1em;
}

#creditsP img {
  margin: 0 1ex;
}

#creditsP a {
  text-decoration: none;
}


#cinemasDiv {
  max-height: 25vh;
  overflow-y: auto;
  text-align: center;
}

#cinemasDiv input {
  display: none; 
}
 
#cinemasDiv label {
  cursor: pointer;
  display: inline-block;
  padding: 1ex;
  margin: 1ex;
}

#cinemasDiv input:checked + label {
  background: #666;
  color: white;
}

#moviesDiv {
  text-align: center;
}

#moviesDiv > div {
  background: #efefef;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px silver;
  display: inline-flex;
  flex-direction: column;
  margin: 1ex;
  padding: 1ex;
  position: relative; /* For the badge if any */
  width: 254px;
}

#moviesDiv > div:hover {
  animation-name: fiddle;
  animation-duration: .15s;
}

@keyframes fiddle {
  0% {
    transform: rotate3d(0, 0, 0, 1deg);
  }

  10% {
    transform: rotate3d(0, 0, 1, 1deg);
  }

  20% {
    transform: rotate3d(0, 1, 0, 1deg);
  }

  30% {
    transform: rotate3d(0, 1, 1, 1deg);
  }

  40% {
    transform: rotate3d(1, 0, 0, 1deg);
  }

  50% {
    transform: rotate3d(1, 0, 1, 1deg);
  }

  60% {
    transform: rotate3d(1, 1, 0, 1deg);
  }

  70% {
    transform: rotate3d(1, 1, 1, 1deg);
  }
}

#moviesDiv > div > div.badge {
  background: linear-gradient(169.5deg, white 7.5%, rgba(0, 0, 0, .25) 8%, transparent 10%);
  border-radius: 5px 0 0 0;
  height: 100%;
  padding: 1em;
  position: absolute;
  text-align: initial;
  width: 100%;

  /* Pop out to the card */
  left: -1px;
  top: -1px;

  /* Make click-through */
  pointer-events: none;

  /* This seems to be needed to beat the `blur` filter :-( */
  z-index: 1;
}

#moviesDiv > div img {
  border-radius: 3px;
  height: 360px;
  margin: 0 0 1ex;
  width: 100%;
}

#moviesDiv > div a {
  color: #222;
  display: block;
  font: bold 11pt sans-serif;
  text-decoration: none;
}

#moviesDiv > div span {
  color: #777;
  margin: 1ex 0 0;
}

#popupDiv {
  background: rgba(0, 0, 0, .45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; /* Beat badges */
}

#popupDiv.popup {
  display: initial;
}

#popupDiv > div {
  background: white;
  margin: 100px auto 0;
  max-height: calc(90vh - 100px);
  max-width: 800px;
  overflow: auto;
  padding: 1em;
  width: 90%;
}

#popupDiv img {
  float: left;
  height: 180px;
  margin-right: 1em;
  width: 127px;
}

#popupDiv h2 {
  margin: 0 0 1em;
}

#tagDiv {
  clear: left;
  font-weight: bold;
}

#trailerIframe {
  display: block;
  margin: 1em auto;
}

#screeningsDiv span {
  display: inline-block;
  padding: 1ex;
}
